@model HotelApp.Models.AdminViewModel.AdminViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        Саисок всех аппартаментов
    </div>
    <div class="panel-body">
        <div class="container">
            <h2>Condensed Table</h2>
            <p>The .table-condensed class makes a table more compact by cutting cell padding in half:</p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.ApartmentNumberSort)">Apartment №</a>
                        </th>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.FreeSort)">Free</a>
                        </th>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.NumberOfRoomsSort)">Number of rooms</a>
                        </th>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.ApartmentTypeSort)">Apartment type</a>
                        </th>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.MaxTetansSort)">Max. Tenants</a>
                        </th>
                        <th>
                            <a asp-action="Main"
                               asp-route-searchedValue="@(Model.FilterViewModel.SearchedValue)"
                               asp-route-searchInColumn="@(Model.FilterViewModel.SearchInColumn)"
                               asp-route-sortOrder="@(Model.SortViewModel.PricePerHourSort)">Price per hour</a>
                        </th>
                        <th class="text-center">Option</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Apartments)
                    {
                        <tr>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">@item.Free</td>
                            <td class="text-center">@item.NumberOfRooms</td>
                            <td class="text-center">@item.ApartmentType</td>
                            <td class="text-center">@item.MaxTenants</td>
                            <td class="text-center">@item.PricePerHour</td>
                            <td>
                                @if (item.Free == false)
                                {
                                    @if (User.Identity.Name == item.Visitor)
                                    {
                                        <p>Your booking</p>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-success" asp-action="Settle" asp-controller="Admin" asp-route-name="@(User.Identity.Name)"
                                       asp-route-apartmentId="@(item.Id)">Settle</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-footer">
        <form method="get" class="form-inline">
            <div class="form-inline form-group">
                <label class="control-label">Найти: </label>
                @Html.TextBox("searchedValue", Model.FilterViewModel.SearchedValue, htmlAttributes: new { @class = "form-control" })
                <label class="control-label">  в : </label>
                @Html.DropDownList("SearchInColumn", Model.FilterViewModel.NamesOfColumns,
                htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>